<div class="login-background" style="min-height: 100vh">
    <div class="navbar">
        <nav class="z-depth-0 transparent" role="navigation">
            <div class="nav-wrapper">
                <a class="brand-logo"><img id="header-logo" class="responsive-img" src="logo_white.png" style="padding-left: 20px;"></a>
                <ul class="right" style="padding-right: 20px;">
                    <li><a style="text-decoration: underline;color: #FFFFFF" class="white-text" target="_blank" ui-sref="info">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="valign-wrapper" style="min-height: 85vh; justify-content: center">
        <div class="valign">
            <div class="row" style="">
                <div class="container">
                    <div class="row">
                        <div class="col s12 center">
                            <img src="india_map.png" style="height: 150px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <div class="row">
                                <div class="col l12 center">
                                    <div class="flow-text white-text" style="font-size: 2.5rem; font-weight: bold" data-intro="Hello step one!" data-step="1">
                                        Public Grievances and Redressal Insights
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l8 center offset-l2">
                                    <table class="login-buttons">
                                        <tr>
                                            <td class="valign-wrapper">
                                                <a ui-sref="march.home" class="waves-effect waves-light btn-large facebook-button left">
                                                    <i class="fa fa-line-chart" aria-hidden="true" style="vertical-align: middle; margin-right: 1em"></i> View Analytics
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row" style="margin-top: -1em">
                                <div class="col s12 center">
                                    <div class="flow-text" style="font-size: small; color: #BDBDBD">
                                        <a href="https://egovernments.org//hackathon/" class="hover-underline" style="color: #BDBDBD" target="_blank">EGovernment Hackathon</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l8 center offset-l2">
                                    <div class="flow-text white-text center-align" style="font-size: large">
                                        The purpose of answering the above questions is to drive better governance by driving equitable allocation of municipal resources to solve problems.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="position: absolute; width: 100%; bottom: 0; height:50px; line-height: 50px; margin: 0; background-color: rgba(0,0,0,0.05)">
        <div class="col s12 m12 l6 center-align" style="color: #FFFFFF">
            &copy; 2017 Hiyo Technologies Pvt. Ltd.
        </div>
        <div class="col s12 m12 l6 center-align" style="color: #FFFFFF">
            Made with <i class="fa fa-heart" style="color: #FF7867"></i> in India
        </div>
    </div>
</div>
