<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs" ng-init="tabsReady()">
                        <li class="tab col s4"><a class="active" href="#one">Type 1</a></li>
                        <li class="tab col s4"><a href="#two">Type 2</a></li>
                        <li class="tab col s4"><a href="#three">Type 3</a></li>
                    </ul>
                </div>
                <div id="one" class="col s12">
                    <case-one></case-one>
                </div>
                <div id="two" class="col s12">
                    <case-two></case-two>
                </div>
                <div id="three" class="col s12">
                    <case-three></case-three>
                </div>
            </div>
        </div>
    </div>
</div>
